[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule ".venv/lib/python3.12/site-packages/forge-std"]
	path = .venv/lib/python3.12/site-packages/forge-std
	url = https://github.com/foundry-rs/forge-std
